{
  "version": 1,
  "settings": {
    "pathAlertEvalIntervalMs": 1000,
    "defaultCooldownSec": 180,
    "changedLegMinBp": 0.1,
    "localSoundEnabled": true,
    "webhookEnabled": true,
    "dayAppEnabled": false,
    "telegramEnabled": true,
    "webhookUrl": "https://api.day.app/45xWAiD79Rn8DPXw6Beudh/[title]/[body]?sound=ladder",
    "webhookSecret": ""
  },
  "alerts": [
    {
      "id": "path-alert-1773246847245-159soa",
      "name": "LBTC",
      "enabled": true,
      "thresholdBp": 1,
      "triggerMode": "immediate",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "path",
        "legs": [
          {
            "quoteId": 1760021522815,
            "direction": "forward",
            "pricingMode": "raw",
            "chain": "base",
            "fromSymbol": "cbBTC",
            "toSymbol": "LBTC"
          },
          {
            "quoteId": 1760021390090,
            "direction": "inverse",
            "pricingMode": "raw",
            "chain": "ethereum",
            "fromSymbol": "LBTC",
            "toSymbol": "cbBTC"
          }
        ]
      }
    },
    {
      "id": "path-alert-1773395309298-wsvgtj",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.2,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:wbtc-lbtc"
      }
    },
    {
      "id": "path-alert-1773395448007-8tdyqg",
      "name": "",
      "enabled": true,
      "thresholdBp": 2,
      "triggerMode": "immediate",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:wbtc-eth-arb"
      }
    },
    {
      "id": "path-alert-1773395462112-azn84r",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:wbtc-btc-no-arb"
      }
    },
    {
      "id": "path-alert-1773395470616-nlf3sx",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:lbtc-btc"
      }
    },
    {
      "id": "path-alert-1773395486976-4kofo7",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:tbtc-wbtc"
      }
    },
    {
      "id": "path-alert-1773395497305-sbvftd",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:tbtc-btc"
      }
    },
    {
      "id": "path-alert-1773395519056-v4tize",
      "name": "",
      "enabled": true,
      "thresholdBp": 1.1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:gho-usd"
      }
    },
    {
      "id": "path-alert-1773395534395-7dqza3",
      "name": "",
      "enabled": true,
      "thresholdBp": 1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:mseth"
      }
    },
    {
      "id": "path-alert-1773395547322-hjr9fq",
      "name": "",
      "enabled": true,
      "thresholdBp": 1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:weeth"
      }
    },
    {
      "id": "path-alert-1773395562730-l0mb3v",
      "name": "",
      "enabled": true,
      "thresholdBp": 1,
      "triggerMode": "delayed",
      "confirmDelaySec": 13,
      "cooldownSec": 180,
      "delivery": {
        "sound": true,
        "log": true,
        "webhookEnabled": false
      },
      "target": {
        "type": "rule",
        "ruleKind": "fixed",
        "ruleId": "fixed:wsteth"
      }
    }
  ],
  "dismissedTargets": []
}